.container {
	width: 100%;
	overflow: hidden;
}

.right_box {
	width: 35%;
	border: 2px solid;
	float: right;
}

.left_box {
	width: 60%;
	border: 2px solid;
	float: left;
}

.bottom_box {
	clear: both;
	width: 100%;
	border: 2px solid;
}

td,th {
	padding-right: 50px;
}
